*, *::after, *::before {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
}

body {
    /*background: linear-gradient(to right, lightgray, lightgray);*/
    background: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.pump-group {
    width: 150px;
    height: 200px;

    opacity: 1.0;
    border: 1px solid lightgray;
    border-radius: 7%;
    margin: 5px;

    background: #434343;
    position: relative; /*CHANGED*/
}

.pipe-branch-vertical {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
    /*margin: 5px;*/
    /*border: 1px solid gray;*/
    position: relative; /*CHANGED*/}

.pipe-vertical {
    width: 10px;
    height: 50%;
    margin: auto;

    background-color: blue;
    transition: background-color 1.0s;

    border: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.temperature-label {
    width: 40px;
    height: 15px;
    margin: auto;

    opacity: 0.9;
    background-color: lightgray;

    border: 1px white;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%); /*CHANGED*/

    margin: auto;
    font-size: 10px;
    font-weight: bold;
    color: #2d2d2d;
}

.pump {
    width: 35px;
    height: 35px;

    border-radius: 50%;
    border: 2px solid gray;
    background-color: lightgreen;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute; /*CHANGED*/
    left: 50%; /*CHANGED*/
    top: 30%; /*CHANGED*/
    transform: translate(-50%, -50%); /*CHANGED*/

    margin: auto;
    font-size: 10px;
    font-weight: bold;
    color: #2d2d2d;
}


.slider {
    width: 80%;
    height: 7px;
    margin: auto;

    position: absolute;
    left: 12%;
    top: 75%;

    background-color: blue;
    transform: rotate(270deg);
}
